/*
html {
    color: lightpink;
}
*/

/*
body {
    color: lightpink;
    background-color: honeydew
}
*/
/*

h1 {
    color : indigo;
}
*/
.dogs {
    color: plum;
    background-color: palevioletred
}
.test {
    color: pink;
}

/*
p {
    color : chocolate;
    background-color: cornsilk
}*/
