
html {
    color: hotpink;
}

body {
    color: lightpink;
    background-color: gainsboro
}

h1 {
    color : deeppink;
}

a { color: lightcoral
}

p {
    color : hotpink;
    background-color: whitesmoke
}
